html {}

body {
    overflow-x: hidden !important;
}

.hiddenDiv {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

::selection {
    color: white;
    background-color: #ec1d24;
}