html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
}

.hiddenDiv {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}