html {}

body {
    overflow-x: hidden !important;
}

.hiddenDiv {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

::selection {
    color: white;
    background-color: #ec1d24;
}

:global(.vtex-search-result-3-x-filterTitleSpan--desktop-filters-v2) {
    text-transform: lowercase;
}

:global(.vtex-search-result-3-x-filterTitleSpan--desktop-filters-v2::first-letter) {
    text-transform: uppercase;
}

:global(.vtex-search-result-3-x-filterItem--desktop-filters-v2 .vtex-checkbox__label) {
    text-transform: lowercase;
}

:global(.vtex-search-result-3-x-filterItem--desktop-filters-v2 .vtex-checkbox__label::first-letter) {
    text-transform: uppercase;
}

:global(.vtex-search-result-3-x-accordionFilterItemTitle) {
    display: block;
    text-transform: lowercase;
}

:global(.vtex-search-result-3-x-accordionFilterItemTitle--desktop-filters-v2::first-letter) {
    text-transform: uppercase;
}

:global(.vtex-checkbox__label) {
    display: block;
    text-transform: lowercase;
}

:global(.vtex-checkbox__label::first-letter) {
    text-transform: uppercase;
}

:global(.vtex-store-components-3-x-skuSelectorItem.o-20) {
    opacity: 1;
}

:global(.vtex-store-components-3-x-skuSelectorItem.o-20:hover::after) {
    display: block;
}

/* Desktop Rules - LM */
@media (min-width: 1026px) {
    :global(.vtex-store-components-3-x-skuSelectorItem.o-20::after) {
        content: "Not available in selected combination.";
        color: white;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        position: absolute;
        top: -200%;
        left: -200%;
        background-color: black;
        padding: 1rem;
        border-radius: 0.25rem;
        text-align: center;
        z-index: 10;
        width: 10rem;
    }
}

:global(.vtex-store-components-3-x-skuSelectorItem.o-20 .vtex-store-components-3-x-skuSelectorInternalBox) {
    opacity: 0.3;
}

/* PDP Product Photo Slider Arrow Buttons */
:global(.c-disabled) {
    display: none;
}

/* PDP Availability / Shipping / Pickup Timeline Container */
:global(.vtex-location-availability-0-x-container--location-availability-summary-pdp:empty) {
    display: none;
}